### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "./Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [5]:
number_players = purchase_data["SN"].nunique()
print(f"There are",number_players,"number of players")

There are 576 number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = purchase_data["Item ID"].nunique()
avg_price = round(purchase_data["Price"].mean(),2)
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = round(purchase_data["Price"].sum(),2)

summary = [{"Number of unique Items": unique_items,
            "Average Price":'${:,.2f}'.format(avg_price),
            "Number of Purchases":number_purchases,
            "Total Revenue":'${:,.2f}'.format(total_revenue)}]
purchasing_analysis_df = pd.DataFrame(summary)
purchasing_analysis_df

   Number of unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
demo_group = purchase_data.groupby("Gender")
players_per_gender = demo_group["SN"].nunique()
percentage_per_gender = players_per_gender/number_players

gender_summary = pd.DataFrame({"Total users per gender": players_per_gender,
                                    "%": percentage_per_gender})

gender_summary['%'] = gender_summary['%'].map("{:,.2%}".format)

gender_summary = gender_summary.sort_values(["Total users per gender"], ascending=False)


# Reset the index for this DataFrame so "Assignee" is a column
gender_summary.head()

                       Total users per gender       %
Gender
Male                                      484  84.03%
Female                                     81  14.06%
Other / Non-Disclosed                      11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_count = demo_group["Purchase ID"].nunique()
average_purchase_price = demo_group["Price"].mean()
total_purchase_value = demo_group["Price"].sum()
per_person_per_gender = total_purchase_value/players_per_gender

purchasing_analytics = pd.DataFrame({"Purchase Count":purchase_count,"Avg Purhcase Price":average_purchase_price,"Total purchase value":total_purchase_value,"Avg purchase per person by gender":per_person_per_gender})

purchasing_analytics['Avg Purhcase Price'] = purchasing_analytics['Avg Purhcase Price'].map("${:,.2f}".format)
purchasing_analytics['Total purchase value'] = purchasing_analytics['Total purchase value'].map("${:,.2f}".format)
purchasing_analytics['Avg purchase per person by gender'] = purchasing_analytics['Avg purchase per person by gender'].map("${:,.2f}".format)

purchasing_analytics = purchasing_analytics.sort_values(["Purchase Count"], ascending=False)

# Reset the index for this DataFrame so "Assignee" is a column
purchasing_analytics.head()

,Purchase Count,Avg Purhcase Price,Total purchase value,Avg purchase per person by gender
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,150]
group_labels= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
range_group = purchase_data.groupby("Age Ranges")
purchase_by_range = range_group["Purchase ID"].nunique()
avg_range_price =  range_group["Price"].mean()
total_range_purchase_value = range_group["Price"].sum()
player_per_range = range_group["SN"].nunique()
total_per_person_per_range = total_range_purchase_value/player_per_range

range_summary = pd.DataFrame({"Purchase Count": purchase_by_range ,"Avg Purhcase Price": avg_range_price ,"Total Purchase Value": total_range_purchase_value ,"Avg purchase per person by age group": total_per_person_per_range})

range_summary['Avg Purhcase Price'] = range_summary['Avg Purhcase Price'].map("${:,.2f}".format)
range_summary['Total Purchase Value'] = range_summary['Total Purchase Value'].map("${:,.2f}".format)
range_summary['Avg purchase per person by age group'] = range_summary['Avg purchase per person by age group'].map("${:,.2f}".format)

# Reset the index for this DataFrame so "Assignee" is a column
range_summary

,Purchase Count,Avg Purhcase Price,Total Purchase Value,Avg purchase per person by age group
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
top_spender = purchase_data.groupby("SN")
purchase_by_buyer = top_spender["Purchase ID"].count()
avg_price_per_buyer = top_spender["Price"].mean()
total_price_per_buyer = top_spender["Price"].sum()

top_summary = pd.DataFrame({"Purchase Count": purchase_by_buyer ,"Total Purchase Value": total_price_per_buyer, "Avg Purhcase Price": avg_price_per_buyer})


top_summary['Total Purchase Value'] = top_summary['Total Purchase Value'].map("${:,.2f}".format)
top_summary['Avg Purhcase Price'] = top_summary['Avg Purhcase Price'].map("${:,.2f}".format)

top_summary = top_summary.sort_values(["Total Purchase Value"], ascending=False)

top_summary.head(5)

              Purchase Count Total Purchase Value Avg Purhcase Price
SN
Haillyrgue51               3                $9.50              $3.17
Phistym51                  2                $9.50              $4.75
Lamil79                    2                $9.29              $4.64
Aina42                     3                $9.22              $3.07
Saesrideu94                2                $9.18              $4.59

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
popular_items = purchase_data.groupby(["Item ID", "Item Name"])
popular_count = popular_items["Item Name"].count()
popular_total_price = popular_items["Price"].sum()
popular_item_price = popular_items["Price"].mean()


popular_summary = pd.DataFrame({"Purchase Count": popular_count ,"Item Price": popular_item_price , "Total Purchase Value": popular_total_price})

popular_summary['Total Purchase Value'] = popular_summary['Total Purchase Value'].map("${:,.2f}".format)
popular_summary['Item Price'] = popular_summary['Item Price'].map("${:,.2f}".format)


popular_summary = popular_summary.sort_values(["Purchase Count"], ascending=False)

popular_summary.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [39]:
top_profitables = popular_summary.sort_values(["Total Purchase Value"], ascending=False)

top_profitables.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48